<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.PaperQuestionAnswerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.exam.pojo.PaperQuestionAnswerDO">
        <id column="answer_id" property="answerId" />
        <result column="answer_question" property="answerQuestion" />
        <result column="answer_content" property="answerContent" />
        <result column="answer_type" property="answerType" />
        <result column="answer_student" property="answerStudent" />
        <result column="answer_paper" property="answerPaper" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        answer_id, answer_question, answer_content, answer_type, answer_student, answer_paper
    </sql>

</mapper>
