<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.PaperMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.exam.pojo.PaperDO">
        <id column="paper_id" property="paperId" />
        <result column="paper_ex_id" property="paperExId" />
        <result column="paper_test" property="paperTest" />
        <result column="paper_title" property="paperTitle" />
        <result column="paper_difficulty" property="paperDifficulty" />
        <result column="paper_score" property="paperScore" />
        <result column="paper_student_score" property="paperStudentScore" />
        <result column="paper_question_num" property="paperQuestionNum" />
        <result column="paper_create_time" property="paperCreateTime" />
        <result column="paper_student" property="paperStudent" />
        <result column="paper_version" property="paperVersion" />
        <result column="paper_delete" property="paperDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        paper_id, paper_ex_id, paper_test, paper_title, paper_difficulty, paper_score, paper_student_score, paper_question_num, paper_create_time, paper_student, paper_version, paper_delete
    </sql>

</mapper>
