<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.TestMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.exam.pojo.TestDO">
        <id column="ts_id" property="tsId" />
        <result column="ts_date" property="tsDate" />
        <result column="ts_room" property="tsRoom" />
        <result column="ts_major" property="tsMajor" />
        <result column="ts_time" property="tsTime" />
        <result column="ts_create_by" property="tsCreateBy" />
        <result column="ts_state" property="tsState" />
        <result column="ts_version" property="tsVersion" />
        <result column="ts_delete" property="tsDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ts_id, ts_date, ts_room, ts_major, ts_time, ts_create_by, ts_state, ts_version, ts_delete
    </sql>

</mapper>
